.employee{
    border: 2px solid black;
    padding: 10px;
    align-items: center;
    margin: 5px;

}

.employee-name{
    text-align: center;
    border: 2px solid blue;
    display:flexbox;
    

}

.employee-assignments{
    display:block;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}

.employee-assign{
    display:block;
    
    text-align: center;
    border: 2px solid black;
    background-color: slateblue;
    padding: 5px;
}

.employee-d{
    display: flex;
}

.employee-desc{
   
    text-align: left;
    border: 2px solid black;
    padding: 10px;
    width: 33%;
}

.employee-morale{
    
    padding: 10px;
    text-align: center;
    border: 2px solid black;
    width: 33%;
}

.employee-wage{
    padding: 10px;
    border: 2px solid black;
   
    width: 33%;
    align-items: center;
    text-align: center;
}


.dropdown{
    margin: 10px;
    border: 2px solid black;
    background-color: slateblue;
}

.dropdown:hover{
    background-color: blue;
    color: white;
}

.projects{

    border: 2px solid blue;
    width: 33%;
    background-color: steelblue;
}

.employees{
    width: 33%;
    border: 2px solid blue;
    background-color: slategray;
}
.groups{
    border: 2px solid blue;
    background-color: lightseagreen;
    width: 33%;
}

.money{
    color: green;
    text-align: center;
    text-emphasis: bold;
}

.col{
    text-align: center;
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
}

.proposals{
    background-color: darkolivegreen;
    border: 2px solid blue;
}


.content{
    display:flex;
}

.project{
   
    padding: 10px;
    border: 2px solid black;
    margin: 5px;
}

.project-info{
    display: flex;
}

.project-progress{
    padding-left:10px;
    padding-right:10px;
}

.project-dropdown-button{
    height: 20px;
}

.project-dropdown{
    display: flexbox;
    align-items: center;
    border:2px solid darkblue;
    padding: 10px;
}

.task{
    display: block;
    padding: 10px;
    border: 2px solid black;
    margin: 5px;
    background-color: slateblue;
}

.group{
    border: 2px solid darkblue;
    padding: 10px;
    margin: 5px;
}

.group-nameInput{
    width: 100%;
   
}

.applicant{
    border: 2px solid black;
    margin: 5px;
    padding: 10px;

}

button{
    background-color: white;
}


